body,html{
    margin:0.25rem;
}
.text-center{
    margin-top:2rem;
    text-align: center;
}
.ec_div{
    padding: 0 30px;
    box-sizing: border-box;
}
.admin_function{
    padding: 0 30px;
}
.pad_20{
    padding: 20px 0;
}
.mt_20{
    margin-top: 20px;
}
.layui-btn .layui-icon{
    margin-right: 0;
}
@media screen and (min-width: 1200px){
    .layui-container {
        width: 1300px;
    }
}